html {
  font-family: 'Roboto Slab', serif !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.panel-head  {
  padding-bottom: 40px;
  background-color: #000;
  position: relative;
  top: 0;
}


.nav-style {
    display:inline-flex;
    float: none;
    vertical-align: top;
    font-weight: 200;
}
.nav-style li a {
    color: #fff;
}
.nav-style li a:hover {
    color: #404040;
    background-color: #f9f9f9;
}

.active{
    background: #f9f9f9;
}
.nav-style .active a {
    color: #000;
}
.mainImageContainer{
  position: relative;
  margin-top: 35px;

}
.mainImage-lg{
  max-height: 550px;
  overflow: hidden;

}
.mainImage-md{
  max-height: 400px;
  overflow: hidden;
}
.mainImage-sm{
  max-height: 300px;
  overflow: hidden;
}
.mainImage-xs{
  max-height: 200;
  overflow: hidden;
}
.shadow{
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}
.mainText{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 80px;
}
.mainText h2{
  font-size: 55px;
  font-weight: 300;
  color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.mainButton {
  font-size: 22px;
  margin: 35px auto 0 auto;
  width: 310px;
  padding: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: #FF6F3A;
}
.mainButton:hover {
  background: #333333;
  color: #ffffff;
}
@media only screen and (max-width: 992px){
  .mainText{
      margin-top: 30px;
    }
  .mainText h2 {
      font-size: 49px;
  }
  .mainButton {
    font-size: 22px;
    margin: 25px auto 0 auto;
    width: 270px;
    padding: 15px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background: #FF6F3A;
  }
}
@media only screen and (max-width: 768px){
  .mainText{
      margin-top: 10px;
    }
  .mainText h2 {
      font-size: 35px;
  }
  .mainButton {
    font-size: 22px;
    margin: 15px auto 0 auto;
    width: 200px;
    padding: 10px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background: #FF6F3A;
  }
}

.contentSheet {
    margin-top: 30px;
    position: relative;
}

.floatLeft {
    float: left;
    display: inline-block;
}

.floatRight {
    float: right;
    display: inline-block;
}


.testTitle {
     margin: 30px 0 100px 0;

}
.testTitle input[type="text"], .testTitle input[type="number"]{
  display: block;
  margin: 0;
    margin-top: 5px;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 20px;
  border: solid 2px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
    text-align: center;
    color: #2ecc71;
}
.testTitle input[type="text"]:focus{
  border: solid 2px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
.testTitle input[type="number"]:focus{
  border: solid 2px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.roundButton {
  background-color: #2ecc71;
  border-radius: 999em;
  width: 56px;
  height: 56px;
  position: relative;
    position: absolute;
  cursor: pointer;
  right: 0;
  bottom: 0;
  color: white;
  margin-top: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.contentSheet1 {
    margin-top: 30px;
    position: relative;
}

.noQCard {
    margin-top: 30px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#b2 {
    background-color: #70b9eb !important;
}

.contentSheet2 {
    margin-top: 30px;
    position: relative;
}
.questionInput {
     margin: 30px 0 100px 0;

}
.questionInput input[type="text"]{
  display: block;
  margin: 0;
    margin-top: 5px;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 5px 10px 5px 20px;
  border: solid 2px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
    text-align: center;
    color: #ea6153;
}
.questionInput p{
  display: block;
  margin: 0;
    margin-top: 5px;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 5px 10px 5px 20px;
  border: solid 2px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
    text-align: center;
    color: #969696;
  box-shadow: 0 0 5px 1px #969696;
  background-color: #ffffff;
}
.questionInput input[type="text"]:focus{
  border: solid 2px #707070;
  box-shadow: 0 0 5px 1px #969696;
  background-color: #ffffff;
}

.options {
    margin-top: 15px;
}
.options input[type="text"], .option input[type="text"]:focus{
    background-color: #fafafa;
    border-radius: 50px;
}


.answer {
    margin-top: 10px 
}


.questionButton {
    background-color: #ea6153 !important;
}

.timer {
    margin-top: 30px !important;
    position: relative;
}
